In [2]:
#Los sets son una coleccion de items no ordenados
#Cada elemento debe ser unico (no duplicados)
#Los elementos son inmutables

#set de enteros
my_set1 = {11,33,66,55,44,22}
print(my_set1)

#set de diversos tipos
my_set2 = {101, "Agustin", (21, 2, 1989)}
print(my_set2)

#no se permiten duplicados
my_set3 = {11,22,33,33,55,44,22}
print(my_set3)

{33, 66, 11, 44, 22, 55}
{'Agustin', (21, 2, 1989), 101}
{33, 11, 44, 22, 55}

In [7]:
#No pueden tener elementos mutables

#my_set4 = {1, 2, [3, 4]}   #error

#Podemos crear sets desde listas
my_set5 = set([1,2,3,2])
print(my_set5)
print(type(my_set5))

#Podemos crear listas desde sets

my_list1 = list({11,22,33,44})
print(my_list1)
print(type(my_list1))

{1, 2, 3}
<class 'set'>
[33, 11, 44, 22]
<class 'list'>

In [11]:
#Operaciones

my_set1 = {11,33,44,66,55}
print(my_set1)

#Objetos 'set' no soportan indexacion
#my_set1[0]   #error

#agregar un elemento
my_set1.add(77)
print(my_set1)
#agregar multiples elementos
my_set1.update([88,99,22])
print(my_set1)

#agregar list y set
my_set1.update([100,102], {103,104,105})
print(my_set1)

{33, 66, 11, 44, 55}
{33, 66, 11, 44, 77, 55}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 100, 102, 103, 104, 105, 11, 44, 77, 22, 55, 88}

In [13]:
#remover y descartar
my_set1 = {11,33,44,55,66}
print(my_set1)

#descartar un elemento que no existe no da error
my_set1.discard(4)
print(my_set1)

#remover un elemento que no existe da error
#my_set1.remove(6)    #key error
print(my_set1)

#descartar un elemento
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 55}
{33, 66, 11}

In [14]:
#pop()

my_set1 = {11,33,44,55,66}
print(my_set1)

#pop un elemento
print(my_set1.pop())

#pop otro elemento
print(my_set1.pop())
print(my_set1)

#limpiar my_set
my_set1.clear()
print(my_set1)

{33, 66, 11, 44, 55}
33
66
{11, 44, 55}
set()

In [15]:
#Operacion union

myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

#usar el operador | para unir
print(myset1 | myset2)
print(myset2 | myset1)
print(myset1.union(myset2))
print(myset2.union(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
#Operacion interseccion

myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

#usar el operador & para intersectar
print(myset1 & myset2)
print(myset2 & myset1)
print(myset1.intersection(myset2))
print(myset2.intersection(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [18]:
#Operacion diferencia

myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

#usar el operador - para diferenciar
print(myset1 - myset2)
print(myset2 - myset1)
print(myset1.difference(myset2))
print(myset2.difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}

In [19]:
#Operacion diferencia simetrica

myset1 = {0,1,2,3,4,5}
myset2 = {4,5,6,7,8,9}
print(myset1)
print(myset2)

#usar el operador ^ para diferenciar simetricamente
print(myset1 ^ myset2)
print(myset2 ^ myset1)
print(myset1.symmetric_difference(myset2))
print(myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [21]:
#membresia

myset1 = {0,1,2,3,4,5}
print(2 in myset1)
print(6 in myset1)
print(2 not in myset1)
print(6 not in myset1)

True
False
False
True

In [22]:
#iteracion en un set
for letter in set("welcome"):
    print(letter)

c
o
m
w
l
e

In [23]:
myset1 = {0,1,2,3,4,5}
print(len(myset1))
print(max(myset1))
print(min(myset1))
print(sorted(myset1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [26]:
#python frozenset
#Frozenset es una nueva clase que tiene las mismas caracteristicas de un set, pero sus elemento
#no pueden ser cambiados una vez asignados.
#Asi como las tuples son listas inmutables, los frozensets son sets inmutables

#inicializamos A y B

myset1 = frozenset([1,2,3,4])
myset2 = frozenset([3,4,5,6])

print(myset1)
print(myset2)
print(myset1.difference(myset2))
print(myset1.union(myset2))
print(myset1.intersection(myset2))
print(myset1.symmetric_difference(myset2))

myset1.pop()    #error
myset1.add(10)  #error

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

AttributeError: 'frozenset' object has no attribute 'pop'